{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="wrapper">
        <section>
            <mark>Section 1</mark>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos maiores hic magnam, est, doloribus aliquid dicta necessitatibus ipsam tempora, sed nostrum officiis iusto explicabo consequatur culpa molestias exercitationem officia excepturi.
            Eos quis dolores facere delectus ut quibusdam aspernatur ex repellendus magnam officiis earum amet suscipit dolore illum temporibus ipsam illo voluptate, ipsa adipisci aliquam ad, totam tenetur sed. Dolor, sapiente.
            Velit quia tempora numquam a reiciendis perferendis voluptates, ab enim non dolor dolore veniam quod culpa pariatur atque, ipsum sunt suscipit eaque aperiam minus magni dolores ad sed? Expedita, ea.
            Reiciendis enim aliquid veniam! Suscipit odio obcaecati, quas iure sit voluptates, fugiat cumque distinctio beatae ex inventore deserunt voluptatum eos nam atque explicabo, aliquam minus. Consectetur labore fugit ipsa quae.
            Praesentium, ipsam odit repudiandae fuga officia similique ex nobis nam possimus veniam atque placeat repellat magni tenetur! Ipsam, aut a! Sapiente temporibus maxime magni illum maiores, molestiae a repellendus unde.
            Veniam quas labore modi ipsam doloribus omnis vero quo? In dolores incidunt impedit. Molestias placeat temporibus eaque minima, consequatur beatae harum et culpa quaerat neque adipisci dignissimos enim saepe hic?
            Est porro nisi eaque sequi consequatur aspernatur odio dicta voluptate magnam eligendi suscipit quae magni, officiis, natus aliquid sapiente quam neque. Necessitatibus magnam praesentium ratione doloribus ea quod temporibus non!
            Quidem asperiores eos quas. Ipsa, amet? Animi praesentium sequi quaerat delectus quis? Neque eos esse, architecto sapiente, totam inventore ab, libero iusto ex itaque illo odio eveniet quam temporibus nesciunt?
            Architecto expedita incidunt delectus mollitia est placeat, esse provident omnis. Praesentium consequatur neque tenetur quae, fuga beatae minus debitis deleniti alias dolores eius molestiae velit magnam sequi dolore, sint modi!
            Nemo placeat eum ab repellendus incidunt, harum nulla a inventore, delectus quisquam ipsam quibusdam facere atque aliquid doloribus unde deserunt tempore doloremque, quas maiores. Corrupti eius quasi expedita deserunt aliquam.
        </section>
        <section>
            <mark>Section 2</mark>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos maiores hic magnam, est, doloribus aliquid dicta necessitatibus ipsam tempora, sed nostrum officiis iusto explicabo consequatur culpa molestias exercitationem officia excepturi.
            Eos quis dolores facere delectus ut quibusdam aspernatur ex repellendus magnam officiis earum amet suscipit dolore illum temporibus ipsam illo voluptate, ipsa adipisci aliquam ad, totam tenetur sed. Dolor, sapiente.
            Velit quia tempora numquam a reiciendis perferendis voluptates, ab enim non dolor dolore veniam quod culpa pariatur atque, ipsum sunt suscipit eaque aperiam minus magni dolores ad sed? Expedita, ea.
            Reiciendis enim aliquid veniam! Suscipit odio obcaecati, quas iure sit voluptates, fugiat cumque distinctio beatae ex inventore deserunt voluptatum eos nam atque explicabo, aliquam minus. Consectetur labore fugit ipsa quae.
            Praesentium, ipsam odit repudiandae fuga officia similique ex nobis nam possimus veniam atque placeat repellat magni tenetur! Ipsam, aut a! Sapiente temporibus maxime magni illum maiores, molestiae a repellendus unde.
            Veniam quas labore modi ipsam doloribus omnis vero quo? In dolores incidunt impedit. Molestias placeat temporibus eaque minima, consequatur beatae harum et culpa quaerat neque adipisci dignissimos enim saepe hic?
            Est porro nisi eaque sequi consequatur aspernatur odio dicta voluptate magnam eligendi suscipit quae magni, officiis, natus aliquid sapiente quam neque. Necessitatibus magnam praesentium ratione doloribus ea quod temporibus non!
            Quidem asperiores eos quas. Ipsa, amet? Animi praesentium sequi quaerat delectus quis? Neque eos esse, architecto sapiente, totam inventore ab, libero iusto ex itaque illo odio eveniet quam temporibus nesciunt?
            Architecto expedita incidunt delectus mollitia est placeat, esse provident omnis. Praesentium consequatur neque tenetur quae, fuga beatae minus debitis deleniti alias dolores eius molestiae velit magnam sequi dolore, sint modi!
            Nemo placeat eum ab repellendus incidunt, harum nulla a inventore, delectus quisquam ipsam quibusdam facere atque aliquid doloribus unde deserunt tempore doloremque, quas maiores. Corrupti eius quasi expedita deserunt aliquam.
        </section>
        <section>
            <mark>Section 3</mark>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos maiores hic magnam, est, doloribus aliquid dicta necessitatibus ipsam tempora, sed nostrum officiis iusto explicabo consequatur culpa molestias exercitationem officia excepturi.
            Eos quis dolores facere delectus ut quibusdam aspernatur ex repellendus magnam officiis earum amet suscipit dolore illum temporibus ipsam illo voluptate, ipsa adipisci aliquam ad, totam tenetur sed. Dolor, sapiente.
            Velit quia tempora numquam a reiciendis perferendis voluptates, ab enim non dolor dolore veniam quod culpa pariatur atque, ipsum sunt suscipit eaque aperiam minus magni dolores ad sed? Expedita, ea.
            Reiciendis enim aliquid veniam! Suscipit odio obcaecati, quas iure sit voluptates, fugiat cumque distinctio beatae ex inventore deserunt voluptatum eos nam atque explicabo, aliquam minus. Consectetur labore fugit ipsa quae.
            Praesentium, ipsam odit repudiandae fuga officia similique ex nobis nam possimus veniam atque placeat repellat magni tenetur! Ipsam, aut a! Sapiente temporibus maxime magni illum maiores, molestiae a repellendus unde.
            Veniam quas labore modi ipsam doloribus omnis vero quo? In dolores incidunt impedit. Molestias placeat temporibus eaque minima, consequatur beatae harum et culpa quaerat neque adipisci dignissimos enim saepe hic?
            Est porro nisi eaque sequi consequatur aspernatur odio dicta voluptate magnam eligendi suscipit quae magni, officiis, natus aliquid sapiente quam neque. Necessitatibus magnam praesentium ratione doloribus ea quod temporibus non!
            Quidem asperiores eos quas. Ipsa, amet? Animi praesentium sequi quaerat delectus quis? Neque eos esse, architecto sapiente, totam inventore ab, libero iusto ex itaque illo odio eveniet quam temporibus nesciunt?
            Architecto expedita incidunt delectus mollitia est placeat, esse provident omnis. Praesentium consequatur neque tenetur quae, fuga beatae minus debitis deleniti alias dolores eius molestiae velit magnam sequi dolore, sint modi!
            Nemo placeat eum ab repellendus incidunt, harum nulla a inventore, delectus quisquam ipsam quibusdam facere atque aliquid doloribus unde deserunt tempore doloremque, quas maiores. Corrupti eius quasi expedita deserunt aliquam.
        </section>
        <section>
            <mark>Section 4</mark>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos maiores hic magnam, est, doloribus aliquid dicta necessitatibus ipsam tempora, sed nostrum officiis iusto explicabo consequatur culpa molestias exercitationem officia excepturi.
            Eos quis dolores facere delectus ut quibusdam aspernatur ex repellendus magnam officiis earum amet suscipit dolore illum temporibus ipsam illo voluptate, ipsa adipisci aliquam ad, totam tenetur sed. Dolor, sapiente.
            Velit quia tempora numquam a reiciendis perferendis voluptates, ab enim non dolor dolore veniam quod culpa pariatur atque, ipsum sunt suscipit eaque aperiam minus magni dolores ad sed? Expedita, ea.
            Reiciendis enim aliquid veniam! Suscipit odio obcaecati, quas iure sit voluptates, fugiat cumque distinctio beatae ex inventore deserunt voluptatum eos nam atque explicabo, aliquam minus. Consectetur labore fugit ipsa quae.
            Praesentium, ipsam odit repudiandae fuga officia similique ex nobis nam possimus veniam atque placeat repellat magni tenetur! Ipsam, aut a! Sapiente temporibus maxime magni illum maiores, molestiae a repellendus unde.
            Veniam quas labore modi ipsam doloribus omnis vero quo? In dolores incidunt impedit. Molestias placeat temporibus eaque minima, consequatur beatae harum et culpa quaerat neque adipisci dignissimos enim saepe hic?
            Est porro nisi eaque sequi consequatur aspernatur odio dicta voluptate magnam eligendi suscipit quae magni, officiis, natus aliquid sapiente quam neque. Necessitatibus magnam praesentium ratione doloribus ea quod temporibus non!
            Quidem asperiores eos quas. Ipsa, amet? Animi praesentium sequi quaerat delectus quis? Neque eos esse, architecto sapiente, totam inventore ab, libero iusto ex itaque illo odio eveniet quam temporibus nesciunt?
            Architecto expedita incidunt delectus mollitia est placeat, esse provident omnis. Praesentium consequatur neque tenetur quae, fuga beatae minus debitis deleniti alias dolores eius molestiae velit magnam sequi dolore, sint modi!
            Nemo placeat eum ab repellendus incidunt, harum nulla a inventore, delectus quisquam ipsam quibusdam facere atque aliquid doloribus unde deserunt tempore doloremque, quas maiores. Corrupti eius quasi expedita deserunt aliquam.
        </section>
        <section>
            <mark>Section 5</mark>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos maiores hic magnam, est, doloribus aliquid dicta necessitatibus ipsam tempora, sed nostrum officiis iusto explicabo consequatur culpa molestias exercitationem officia excepturi.
            Eos quis dolores facere delectus ut quibusdam aspernatur ex repellendus magnam officiis earum amet suscipit dolore illum temporibus ipsam illo voluptate, ipsa adipisci aliquam ad, totam tenetur sed. Dolor, sapiente.
            Velit quia tempora numquam a reiciendis perferendis voluptates, ab enim non dolor dolore veniam quod culpa pariatur atque, ipsum sunt suscipit eaque aperiam minus magni dolores ad sed? Expedita, ea.
            Reiciendis enim aliquid veniam! Suscipit odio obcaecati, quas iure sit voluptates, fugiat cumque distinctio beatae ex inventore deserunt voluptatum eos nam atque explicabo, aliquam minus. Consectetur labore fugit ipsa quae.
            Praesentium, ipsam odit repudiandae fuga officia similique ex nobis nam possimus veniam atque placeat repellat magni tenetur! Ipsam, aut a! Sapiente temporibus maxime magni illum maiores, molestiae a repellendus unde.
            Veniam quas labore modi ipsam doloribus omnis vero quo? In dolores incidunt impedit. Molestias placeat temporibus eaque minima, consequatur beatae harum et culpa quaerat neque adipisci dignissimos enim saepe hic?
            Est porro nisi eaque sequi consequatur aspernatur odio dicta voluptate magnam eligendi suscipit quae magni, officiis, natus aliquid sapiente quam neque. Necessitatibus magnam praesentium ratione doloribus ea quod temporibus non!
            Quidem asperiores eos quas. Ipsa, amet? Animi praesentium sequi quaerat delectus quis? Neque eos esse, architecto sapiente, totam inventore ab, libero iusto ex itaque illo odio eveniet quam temporibus nesciunt?
            Architecto expedita incidunt delectus mollitia est placeat, esse provident omnis. Praesentium consequatur neque tenetur quae, fuga beatae minus debitis deleniti alias dolores eius molestiae velit magnam sequi dolore, sint modi!
            Nemo placeat eum ab repellendus incidunt, harum nulla a inventore, delectus quisquam ipsam quibusdam facere atque aliquid doloribus unde deserunt tempore doloremque, quas maiores. Corrupti eius quasi expedita deserunt aliquam.
        </section>
        <section>
            <mark>Section 6</mark>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos maiores hic magnam, est, doloribus aliquid dicta necessitatibus ipsam tempora, sed nostrum officiis iusto explicabo consequatur culpa molestias exercitationem officia excepturi.
            Eos quis dolores facere delectus ut quibusdam aspernatur ex repellendus magnam officiis earum amet suscipit dolore illum temporibus ipsam illo voluptate, ipsa adipisci aliquam ad, totam tenetur sed. Dolor, sapiente.
            Velit quia tempora numquam a reiciendis perferendis voluptates, ab enim non dolor dolore veniam quod culpa pariatur atque, ipsum sunt suscipit eaque aperiam minus magni dolores ad sed? Expedita, ea.
            Reiciendis enim aliquid veniam! Suscipit odio obcaecati, quas iure sit voluptates, fugiat cumque distinctio beatae ex inventore deserunt voluptatum eos nam atque explicabo, aliquam minus. Consectetur labore fugit ipsa quae.
            Praesentium, ipsam odit repudiandae fuga officia similique ex nobis nam possimus veniam atque placeat repellat magni tenetur! Ipsam, aut a! Sapiente temporibus maxime magni illum maiores, molestiae a repellendus unde.
            Veniam quas labore modi ipsam doloribus omnis vero quo? In dolores incidunt impedit. Molestias placeat temporibus eaque minima, consequatur beatae harum et culpa quaerat neque adipisci dignissimos enim saepe hic?
            Est porro nisi eaque sequi consequatur aspernatur odio dicta voluptate magnam eligendi suscipit quae magni, officiis, natus aliquid sapiente quam neque. Necessitatibus magnam praesentium ratione doloribus ea quod temporibus non!
            Quidem asperiores eos quas. Ipsa, amet? Animi praesentium sequi quaerat delectus quis? Neque eos esse, architecto sapiente, totam inventore ab, libero iusto ex itaque illo odio eveniet quam temporibus nesciunt?
            Architecto expedita incidunt delectus mollitia est placeat, esse provident omnis. Praesentium consequatur neque tenetur quae, fuga beatae minus debitis deleniti alias dolores eius molestiae velit magnam sequi dolore, sint modi!
            Nemo placeat eum ab repellendus incidunt, harum nulla a inventore, delectus quisquam ipsam quibusdam facere atque aliquid doloribus unde deserunt tempore doloremque, quas maiores. Corrupti eius quasi expedita deserunt aliquam.
        </section>
        <button id="buttonScroll">
            <img src="/svg/scroll-top.svg" alt="">
        </button>
    </div>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}